/* ------------ABOUT PAGE ---------------*/

.aboutTitle {
    text-align: center;
    font-size: 45px;
    margin-top: 180px;
    margin-bottom: 50px;
  }
  .aboutParagraph {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 400px;
  }
  .aboutParagraph p {
   margin-top: 20px;
    font-size: 20px;
  }
  .aboutParagraph div {
    font-weight: bold;
  }
  .aboutFooter {
    margin-top: 170px;
  }